.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  height: 90%;
}

.app-container .app-side {
  flex: 1 100%;
  transition: flex 0.5s ease;
  overflow: hidden;
}
.app-container .app-side > * {
  opacity: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0s;
}
.app-container .sidenavmenu {
  flex: 1 15%;
}
.app-container .sidenavmenu.collapsed {
  flex: 0 0%;
  height: 0px;
  width: 0px;
}

.app-container .wrapper {
  flex: 1 85%;
  background: #93d4fc5c;
}
