.navLink {
  text-decoration: none;
  height: 40px;
  line-height: 2;
  padding-left: 10%;
}

.active_link {
  color: blue;
}

.sidenav {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.navLink:hover {
  color: black;
}
